<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EmpoWered in Tech</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

        <form class="search" method="GET" action="https://cs.wellesley.edu/~cs304flask/cgi-bin/dump/cgi"> <!--Change this!!!-->
        <p> <input type="text" required name="term" value="search">
        <label>kind
                <select required name="category">
                    <option value="">Category</option>
                    <option value="organization">Organization</option>
                    <option value="opportunity name">Opportunity Name</option>
                    <option value="location">Location</option>
                </select>
        </label>
        <input type="submit" value="search"></p>
    </form>

    <h1>Computer Science Opportunities</h1>

    <ul>
        <% list.forEach( (elt) => {%>
            <li>
                <a href="/post/<%= elt.oid %>">
                   <div class="container" id="feedBox"> 
                        <p> <%= elt.name %> </p>
                        <p> <%= elt.type %> </p>
                        <p> <%= elt.org %> </p>
                        <p> <%= elt.location %> </p>

                        <% if (elt.comments != null) { %>
                            <% elt.comments.forEach((comment) => {%> 
                                <div class="comment"><%= comment.author %>: <%= comment.content %></div>
                            <% }); %>
                        <% }; %>
                    </div>    
                </a>
            </li>
        <% }); %>
    </ul>

    <script src="/main.js"></script>
</body>
</html>