<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EmpoWered in Tech</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
        <form class="search" method="GET" action="/search">
        <p> <input type="text" required name="term" value="search">
        <label>kind
                <select required name="category">
                    <option name="category" value="">Category</option>
                    <option name="category" value="org">Organization</option>
                    <option name="category" value="name">Opportunity Name</option>
                    <option name="category" value="location">Location</option>
                </select>
        </label>
        <input type="submit" value="search"></p>
    </form>

    <h1>Computer Science Opportunities</h1>

    <form method="GET" action="/do-postings">
        <div id="filterBtn" name=""filterBtn>
            <button class="btn active" name="button" value="allOpBtn"> All opportunities</button>
            <button class="btn" name="button" value="internshipBtn"> Internship</button>
            <button class="btn" name="button" value="jobBtn"> Full-Time Job</button>
            <button class="btn" name="button" value="researchBtn"> Research</button>
            <button class="btn" name="button" value="remoteBtn"> Remote</button>
        </div>
    </form>

    <ul>
        <% list.forEach( (elt) => {%>
            <li>
                <a href="/post/<%= elt.oid %>">
                   <div class="feedContainer" id="feedBox"> 
                        <p> <%= elt.name %> </p>
                        <p> <%= elt.type %> </p>
                        <p> <%= elt.org %> </p>
                        <p> <%= elt.location %> </p>

                        <% if (elt.comments != null) { %>
                            <% elt.comments.slice(0, 3).forEach((comment) => {%> 
                                <div class="comment"><%= comment.author %>: <%= comment.content %></div>
                            <% }); %>
                        <% }; %>
                    </div>    
                </a>
            </li>
        <% }); %>
    </ul>

    <script src="/main.js"></script>
</body>
</html>