<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EmpoWered in Tech</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

<form class="form"
     id="opportunityForm"
     method="POST"
     action="/updatePost/<%= opp.oid %>">
   <p><label>Opportunity Name: <input name="opportunityName" value="<%= opp.name %>" required></label></p>


   <p><label>Application Link: <input type=text name="applicationLink" value="<%= opp.link %>" required></label></p>


   <p><label>Opportunity Type:
   <select name="oppType" value="<%= opp.type %>"" required>
       <option value=""><%=opp.type%></option>
       <option value="conference">Conference</option>
       <option value="fellowship">Fellowship</option>
       <option value="industry">Industry</option>
       <option value="research">Research</option>
       <option value="workshop">Workshop</option>
       <option value="other">Other</option>
   </select>
   </label></p>


   <p><label>If "Other", please specify: <input type=text name="otherOppType"></label></p>


   <p><label>Organization/Company: <input type=text name="org" value="<%= opp.org %>" required></label></p>


   <div id="oppSubfieldDropdown" class="dropdown-check-list" tabindex="100">
       <span class="oppSubfield">Choose Opportunity Subfield(s):</span>
       <ul class="items"> <%# opp.subfield which is an array, want to loop through it %>
        <%# for el in opp.subfield:  %>
         <li><input type="checkbox" name ="subfield" value="bioinformatics"/>Bioinformatics </li>
         <%# checked versioon %>
         <%# <li><input type="checkbox" name ="subfield" value="bioinformatics" checked/>Bioinformatics </li> %>
         <li><input type="checkbox" name ="subfield" value="cloud"/>Cloud Computing/Development</li>
         <li><input type="checkbox" name ="subfield" value="compVision"/>Computer Vision</option> </li>
         <li><input type="checkbox" name ="subfield" value="dataScience"/>Data Science </li>
         <li><input type="checkbox" name ="subfield" value="graphics"/>Graphics </li>
         <li><input type="checkbox" name ="subfield" value="hci"/>Human-Computer Interaction </li>
         <li><input type="checkbox" name ="subfield" value="ml"/>Machine Learning</li>
         <li><input type="checkbox" name ="subfield" value="prodDesign"/>Product Design</li>
         <li><input type="checkbox" name ="subfield" value="prodMgmt"/>Product Management</li>
         <li><input type="checkbox" name ="subfield" value="swe"/>Software Engineering</li>
         <li><input type="checkbox" name ="subfield" value="systems"/>Systems</li>
         <li><input type="checkbox" name ="subfield" value="uiux"/>UI/UX</li>
         <li><input type="checkbox" name ="subfield" value="other"/>Other</li>
       </ul>
     </div>


   <p><label>If "Other", please specify: <input type=text name="otherOppSubfield"></label></p>


   <p><label>Location (put "remote" if remote opportunity): <input name="location" value="<%= opp.location %>" required></label></p>


   <p><label>Spam/Flyer (optional): <input type=file name="spam" value="<%= opp.spam %>"></label></p>


   <p><label>Expiration (optional):
       <% let endDate = new Date();
       endDate.setFullYear(endDate.getFullYear() + 2);
       let todayDate = new Date(); %>
       <input name="due" type=date value="<%= opp.expiration %>" min="2023-04-12" max="<%= endDate %>">
   </label></p>


   <p><label>Referral Link (optional): <input type=text name="<%= opp.referralLink %>"></label></p>


   <p><label>Description (optional):
       <textarea rows="3" cols="30" name="description" value="<%= opp.description %>"></textarea>
   </label></p>


   <p>Your Username: <%= addedBy.name %>, <%= addedBy.email %></p>

   <p><button type="submit">Update!</button></p>
</form>

<form method="POST" action="/post/delete/<%=opp.oid%>">
    <input type="submit" value="delete <%=opp.oid%>">
</form>  

</body>
</html>