<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EmpoWered in Tech</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

<form class="form"
     id="opportunityForm"
     method="POST"
     action="/updatePost/<%= opp.oid %>">
   <p><label>Opportunity Name: <input name="opportunityName" value="<%= opp.name %>" required></label></p>


   <p><label>Application Link: <input type=text name="applicationLink" value="<%= opp.link %>" required></label></p>


   <p><label>Opportunity Type:
   <select name="oppType" value="<%= opp.type %>"" required>
       <option value=""><%= opp.type %></option>
       <option value="Conference">Conference</option>
       <option value="Fellowship">Fellowship</option>
       <option value="Full-time Job">Full-time Job</option>
       <option value="Industry">Industry</option>
       <option value="Research">Research</option>
       <option value="Workshop">Workshop</option>
       <option value="Other">Other</option>
   </select>
   </label></p>


   <p><label>If "Other", please specify: <input type=text name="otherOppType"></label></p>


   <p><label>Organization/Company: <input type=text name="org" value="<%= opp.org %>" required></label></p>


   <div id="oppSubfieldDropdown" class="dropdown-check-list" tabindex="100">
       <span class="oppSubfield">Choose Opportunity Subfield(s):</span>
       <ul class="items">
        <% if (isCheckedBio){ %>
         <li><input type="checkbox" name ="subfield" value="bioinformatics" checked/>Bioinformatics </li>
         <% } else { %>
         <%# <li><input type="checkbox" name ="subfield" value="bioinformatics"/>Bioinformatics </li> %>
         <% } %>
         <% if (isCheckedCloud){ %>
         <li><input type="checkbox" name ="subfield" value="cloud" checked/>Cloud Computing/Development</li>
         <% } else {%>
         <li><input type="checkbox" name ="subfield" value="cloud"/>Cloud Computing/Development</li>
         <% } %>
         <% if (isCheckedCompVision){ %>
         <li><input type="checkbox" name ="subfield" value="compVision" checked/>Computer Vision</option> </li>
         <% } else {%>
         <li><input type="checkbox" name ="subfield" value="compVision"/>Computer Vision</option> </li>
         <% } %>
         <% if (isCheckedDataScience){ %>
         <li><input type="checkbox" name ="subfield" value="dataScience" checked/>Data Science </li>
         <% } else {%>
         <li><input type="checkbox" name ="subfield" value="dataScience"/>Data Science </li>
         <% } %>
         <% if (isCheckedGraphics){ %>
         <li><input type="checkbox" name ="subfield" value="graphics" checked/>Graphics </li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="graphics"/>Graphics </li>
         <% } %>
         <% if (isCheckedHci){ %>
         <li><input type="checkbox" name ="subfield" value="hci" checked/>Human-Computer Interaction </li>
         <% } else {%>
         <li><input type="checkbox" name ="subfield" value="hci"/>Human-Computer Interaction </li>
         <% } %>
         <% if (isCheckedML){ %>
         <li><input type="checkbox" name ="subfield" value="ml" checked/>Machine Learning</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="ml"/>Machine Learning</li>
         <% } %>
         <% if (isCheckedProdDesign){ %>
         <li><input type="checkbox" name ="subfield" value="prodDesign" checked/>Product Design</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="prodDesign"/>Product Design</li>
         <% } %>
         <% if (isCheckedProdMgmt){ %>
         <li><input type="checkbox" name ="subfield" value="prodMgmt" checked/>Product Management</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="prodMgmt"/>Product Management</li>
         <% } %>
         <% if (isCheckedSWE){ %>
         <li><input type="checkbox" name ="subfield" value="software engineering" checked/>Software Engineering</li>
         <% } else { %>
            <li><input type="checkbox" name ="subfield" value="software engineering"/>Software Engineering</li>
         <% } %>
         <% if (isCheckedSystems){ %>
         <li><input type="checkbox" name ="subfield" value="systems" checked/>Systems</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="systems"/>Systems</li>
         <% } %>
         <% if (isCheckedUiUx){ %>
         <li><input type="checkbox" name ="subfield" value="uiux" checked/>UI/UX</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="uiux"/>UI/UX</li>
         <% } %>
         <% if (isCheckedOther){ %>
         <li><input type="checkbox" name ="subfield" value="other" checked/>Other</li>
         <%} else {%>
         <li><input type="checkbox" name ="subfield" value="other"/>Other</li>
         <% } %>
        </ul>
     </div>


   <p><label>If "Other", please specify: <input type=text name="otherOppSubfield"></label></p>


   <p><label>Location (put "remote" if remote opportunity): <input name="location" value="<%= opp.location %>" required></label></p>


   <p><label>Spam/Flyer (optional): <input type=file name="spam" value="<%= opp.spam %>"></label></p>


   <p><label>Expiration (optional):
       <% let endDate = new Date();
       endDate.setFullYear(endDate.getFullYear() + 2);
       let todayDate = new Date(); %>
       <input name="due" type=date value="<%= opp.expiration %>" min="2023-04-12" max="<%= endDate %>">
   </label></p>


   <p><label>Referral Link (optional): <input type=text name="<%= opp.referralLink %>"></label></p>


   <p><label>Description (optional):
       <textarea rows="3" cols="30" name="description" value="<%= opp.description %>"></textarea>
   </label></p>


   <p>Posted by: <%= addedBy.name %>, <%= addedBy.email %></p>

   <p><button type="submit">Update!</button></p>
</form>

<form method="POST" action="/post/delete/<%=opp.oid%>">
    <input type="submit" value="delete <%=opp.oid%>">
</form>  

</body>
</html>